@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Title</h2>
<link href="~/Content/timeline.css" rel="stylesheet" />
<div class="row">
    <div class="timeline timeline-line-dotted">
        <span class="timeline-label">
            <span class="label label-primary">2018.11</span>
        </span>
        <div class="timeline-item">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
                <div class="timeline-heading">
                    <h4>开始</h4>
                </div>
                <div class="timeline-body">
                    <p>开始制作</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">2018.11.1 12:21</p>
                </div>
            </div>
        </div>
    </div>
</div>

