@{
    ViewBag.Title = ViewBag.SingleTitle = "学员管理";
    Layout = "~/Views/Shared/_SysManage.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
