
body {
    position: relative;
}

ul.nav-pills {
    top: 220px;
    position: fixed;
    width: 149px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 1px;
}

    ul.nav-pills li {
        margin: 1px;
        border: 1px solid #ddd;
        height: 27px;
        width: 27px;
    }

        ul.nav-pills li a {
            text-align: center;
            line-height: 25px;
            padding: 0px 0px 0px 0px;
            border-radius: 0px
        }



        ul.nav-pills li:first-child a {
            border-radius: 0px 0px 0 0;
        }



        ul.nav-pills li:last-child a {
            border-radius: 0 0 0px 0px;
        }

*

ul.nav-pills.affix {
    top: 35px; /* Set the top position of pinned element */
}


ul.nav-pills li.active a, ul.nav-pills li.active a:hover {
    color: #fff;
    background: #08c;
    border: 1px solid #0088cc;
    /*border-radius: 20px 20px 20px 20px*/
}






/*Custom Styles 
ul.nav-tabs {
    width: 149px;
    margin-top: -10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 1px;
}

    ul.nav-tabs li {
        margin: 1px;
        border: 1px solid #ddd;
        height: 27px;
        width: 27px;
        float: left;
    }


        /*ul .nav-tabs li:first-child {
            border-top: 1px solid #ddd;
        }*

        ul.nav-tabs li a {
            margin: 0;
            padding: 1px 1px 1px 1px;
            border-radius: 1px
        }

        ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
            color: #fff;
            background: #08c;
            border: 1px solid #0088cc;
            /*border-radius: 20px 20px 20px 20px
}

/*ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }*

    /*ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }*

    ul.nav-tabs.affix {
        top: 35px; /* Set the top position of pinned element *
    }

    */

#tijiaoshijuan {
    margin-bottom: 3.5%;
    margin-left: 88%;
    border: 1px solid #ddd;
    width: 170px;
    padding: 5px;
}


pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin-left: 70px;
    margin-right: 70px;
    font-size: 15px;
}

#answerUl {
    list-style: none;
    display: block;
    margin-left: 50px;
    margin-top: 30px;
    width: auto;
    float: left;
    font-weight: bold;
}

    #answerUl li {
        margin-top: 15px;
    }

#topicType {
    display: block;
    position: absolute;
    height: 45px;
    width: 66px;
    margin-top: 40px;
    margin-left: -3px;
    background-image: url(../Content/image/icons_1.png);
    background-repeat: no-repeat;
    z-index: 1
}

#topicTypeLabel {
    color: aliceblue;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    margin-left: 5px;
}

#answerUl label {
    font-size: 16px;
    width: 888px;
    border-radius: 3px 3px 3px 3px;
    font-family: 微软雅黑;
    font-weight: normal
}


/*radio样式*/
.radio-custom input[type=radio] {
    position: absolute;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.radio-custom input[type=radio] {
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 1;
}

.radio-custom label {
    min-height: 22px;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 300;
    cursor: pointer;
}

.radio-custom label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
}

    .radio-custom label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        margin-left: 0px;
        border: 1px solid #e4eaec;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border .3s ease-in-out 0s,color .3s ease-in-out 0s;
        -o-transition: border .3s ease-in-out 0s,color .3s ease-in-out 0s;
        transition: border .3s ease-in-out 0s,color .3s ease-in-out 0s;
    }

.radio-custom input[type=radio]:checked + label::before {
    border-color: #e4eaec;
    border-width: 10px;
}

.radio-primary input[type=radio]:checked + label::before {
    border-color: #62a8ea;
}

.radio-custom label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 6px;
    height: 6px;
    left: 7px;
    top: 7px;
    margin-left: 0px;
    border: 2px solid #76838f;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -o-transform: scale(0,0);
    transform: scale(0,0);
    transition-transform: .1s cubic-bezier(.8,-.33,.2,1.33);
}

.radio-custom input[type=radio]:checked + label::after {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}

.radio-primary input[type=radio]:checked + label::after {
    border-color: #fff;
}
